# Leiningen
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures

# REPL
.nrepl-port
.nrepl-history
.rebel_readline_history

# deps.edn
.cpcache/

# Clojure LSP
.lsp/
.clj-kondo/.cache/

# Editor
.calva/
.vscode/
.idea/
.portal/
*.swp
*~

# Workspace (local files not to be committed)
/workspace/*
!/workspace/.gitkeep
