{:app {:name "stock-dash"
       :version "0.1.0"}

 :server {:host "localhost"
          :port 8080}

 :logging {:console {:enabled false}
           :file {:enabled true
                  :path "workspace/app.log"}}

 :pathom {:debug {:enabled true
                  :log-slow-queries true
                  :slow-query-threshold-ms 100
                  :log-errors true
                  :full-stats false}}

 :database {:host "localhost"
            :port 5432
            :name "stockdb"}}
